# LowerCasing

In [1]:
import pandas as pd

In [2]:
movies_review = pd.read_csv('movieReviews.csv')

In [3]:
movies_review.head()

,Date of Review,User,Usefulness Vote,Total Votes,User's Rating out of 10,Review Title,Review
0,4 May 2019,Paynebyname,1481,2771,4,"The writers got carried away, the directors ov...",I've just come from watching Endgame and I mus...
1,6 May 2019,jtindahouse,75,127,4,Time travel is such a lazy way to write stories,Only a month or so back I was talking to a fri...
2,13 May 2019,arclinecreative,100,170,3,Overrated and full of filler,Continuity? 350M budget and no one looking ove...
3,3 August 2019,RetroRick,99,169,3,"downbeat, overblown & so so long. Cuts all you...",Maybe I would have enjoyed this more if I were...
4,13 December 2021,ACollegeStudent,27,41,8,Not as good as infinity war but a great movie,Rating: 8.6Not as good as Infinity war pacing-...

In [4]:
movies_review['Review'] = movies_review['Review'][0].lower()  # Single row task

In [5]:
movies_review.sample()

,Date of Review,User,Usefulness Vote,Total Votes,User's Rating out of 10,Review Title,Review
3681,27 May 2022,joe_jr,3,5,3,Biggest Fail of the Avengers Series,i've just come from watching endgame and i mus...

In [6]:
movies_review['User'] = movies_review['User'].str.lower() # Appply all reviews rows

In [7]:
movies_review

,Date of Review,User,Usefulness Vote,Total Votes,User's Rating out of 10,Review Title,Review
0,4 May 2019,paynebyname,1481,2771,4,"The writers got carried away, the directors ov...",i've just come from watching endgame and i mus...
1,6 May 2019,jtindahouse,75,127,4,Time travel is such a lazy way to write stories,i've just come from watching endgame and i mus...
2,13 May 2019,arclinecreative,100,170,3,Overrated and full of filler,i've just come from watching endgame and i mus...
3,3 August 2019,retrorick,99,169,3,"downbeat, overblown & so so long. Cuts all you...",i've just come from watching endgame and i mus...
4,13 December 2021,acollegestudent,27,41,8,Not as good as infinity war but a great movie,i've just come from watching endgame and i mus...
...,...,...,...,...,...,...,...
9509,1 June 2019,ismael_rivera,0,2,9,A reward to fans that have been since the begi...,i've just come from watching endgame and i mus...
9510,27 April 2019,barbarasokoloski,0,0,8,Fun and well-done,i've just come from watching endgame and i mus...
9511,25 April 2019,jfelipepoll,0,2,10,Just Wao!!,i've just come from watching endgame and i mus...
9512,25 April 2019,louikelemen,0,0,10,Endgame is for the Fans,i've just come from watching endgame and i mus...
9513,26 April 2019,kayodeodusanya,0,2,9,BADASS!!!,i've just come from watching endgame and i mus...

# HTMLtag Removing

In [8]:
import re

def remove_html_tags(text):
    # Regular expression to match HTML tags
    html_tag_pattern = r'<[^>]*>'
    
    # Use regex to remove HTML tags from the text
    clean_text = re.sub(html_tag_pattern, '', text)
    
    return clean_text

In [9]:
htmml = '''<h1>OpenAI is an American artificial intelligence (AI) research laboratory consisting of the non-profit</h1>
<p>OpenAI and its for-profit subsidiary corporation OpenAI Limited Partnership. OpenAI conducts 
AI research with the declared intention of developing "safe and beneficial" artificial general intelligence, 
which it defines as </p>'''

In [10]:
rem_tag = remove_html_tags(htmml)
print(rem_tag)

OpenAI is an American artificial intelligence (AI) research laboratory consisting of the non-profit
OpenAI and its for-profit subsidiary corporation OpenAI Limited Partnership. OpenAI conducts
AI research with the declared intention of developing "safe and beneficial" artificial general intelligence,
which it defines as

In [11]:
data = {'Html':htmml}

In [12]:
html_dataframes = pd.DataFrame(data,index=['Tag1','Tag2','Tag3','Tag4'])

In [13]:
html_dataframes

                                                   Html
Tag1  <h1>OpenAI is an American artificial intellige...
Tag2  <h1>OpenAI is an American artificial intellige...
Tag3  <h1>OpenAI is an American artificial intellige...
Tag4  <h1>OpenAI is an American artificial intellige...

In [14]:
html_dataframes['Html']= html_dataframes['Html'].apply(remove_html_tags)

In [15]:
html_dataframes

                                                   Html
Tag1  OpenAI is an American artificial intelligence ...
Tag2  OpenAI is an American artificial intelligence ...
Tag3  OpenAI is an American artificial intelligence ...
Tag4  OpenAI is an American artificial intelligence ...

# Removing URLS

In [16]:
import re

def remove_urls(text):
    url_pattern = r'https?://\S+|www\.\S+'
    clean_text = re.sub(url_pattern, '', text)
    return clean_text

In [17]:
Text1 = 'Hello how are you http://www.google.com/grow.google'
Text2 = 'AI is new Revolution www.yahoo.com'
Text3 = 'Chance to Give something new http://www.bing.com'

In [18]:
link_dataframes = pd.DataFrame(data=[Text1,Text2,Text3],columns=['Itemwithlinks'],index=['1','2','3'])

In [19]:
link_dataframes

                                       Itemwithlinks
1  Hello how are you http://www.google.com/grow.g...
2                 AI is new Revolution www.yahoo.com
3   Chance to Give something new http://www.bing.com

In [20]:
link_dataframes['Itemwithlinks']=link_dataframes['Itemwithlinks'].apply(remove_urls)

In [21]:
link_dataframes

                   Itemwithlinks
1             Hello how are you
2          AI is new Revolution
3  Chance to Give something new

# Removing Punctuation

In [22]:
import string

def remove_punctuation(text):
    translator = str.maketrans('', '', string.punctuation)
    clean_text = text.translate(translator)
    return clean_text

In [23]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
data = {"Name": ['hyphen','dash','question mark','exclamation mark exclamation point (AmE)'],
        "Example": ['This is a rather out-of-date book.','In each town—London, Paris and Rome—we stayed in youth hostels.','Where is Shangri-La?','''"Help!" she cried. "I can't swim!"''']
       }

In [25]:
punc_dataframes = pd.DataFrame(data)

In [26]:
punc_dataframes

,Name,Example
0,hyphen,This is a rather out-of-date book.
1,dash,"In each town—London, Paris and Rome—we stayed ..."
2,question mark,Where is Shangri-La?
3,exclamation mark exclamation point (AmE),"""Help!"" she cried. ""I can't swim!"""

In [27]:
# Apply Punctuation
punc_dataframes['Example']=punc_dataframes['Example'].apply(remove_punctuation)

In [28]:
punc_dataframes

,Name,Example
0,hyphen,This is a rather outofdate book
1,dash,In each town—London Paris and Rome—we stayed i...
2,question mark,Where is ShangriLa
3,exclamation mark exclamation point (AmE),Help she cried I cant swim

# Chat Word Treatment

In [29]:
chat_words = {
    "afaik": "as far as I know",
    "afk": "away from keyboard",
    "asap": "as soon as possible",
    "bbl": "be back later",
    "bfn": "bye for now",
    "brb": "be right back",
    "btw": "by the way",
    "cu": "see you",
    "cya": "see you later",
    "fomo": "fear of missing out",
    "ftw": "for the win",
    "fyi": "for your information",
    "gtg": "got to go",
    "hmu": "hit me up",
    "idc": "I don't care",
    "idk": "I don't know",
    "imo": "in my opinion",
    "irl": "in real life",
    "jk": "just kidding",
    "kthxbye": "okay, thanks, bye",
    "lmao": "laughing my ass off",
    "lol": "laugh out loud",
    "lmk": "let me know",
    "nbd": "no big deal",
    "np": "no problem",
    "nsfw": "not safe for work",
    "omg": "oh my god",
    "omw": "on my way",
    "otp": "one true pairing",
    "ppl": "people",
    "rofl": "rolling on the floor laughing",
    "smh": "shaking my head",
    "srsly": "seriously",
    "tmi": "too much information",
    "ttyl": "talk to you later",
    "wb": "welcome back",
    "wtf": "what the fudge",
    "wyd": "what are you doing",
    "yolo": "you only live once",
    "yw": "you're welcome",
    "zzz": "sleeping or bored",
    # Add more chat words and their expansions as needed
    "gr8": "great",
    "cu2nite": "see you tonight",
    "omg": "oh my gosh",
    "ttylxox": "talk to you later, hugs and kisses",
    "btw": "between",
    "lolz": "laugh out loud",
    "np": "no problem",
    "jk": "just kidding",
    "g2g": "got to go",
    "idc": "I don't care",
    "bbs": "be back soon",
    "yolo": "you only live once",
    "roflmao": "rolling on the floor laughing my ass off",
    "l8r": "later",
    "thx": "thanks",
    "l8": "late",
    "g8": "great",
    "b4": "before",
    "brb": "be right back",
    "w8": "wait",
    "irl": "in real life",
    "bff": "best friends forever",
    "fomo": "fear of missing out",
    "smh": "shaking my head",
    "gtg": "got to go",
    "afk": "away from keyboard",
    "ty": "thank you",
    "ttyl": "talk to you later",
    "hbu": "how about you",
    "wb": "welcome back",
    "lmk": "let me know",
    "wth": "what the heck",
    "bfn": "bye for now",
    "btdubs": "by the way",
    "omw": "on my way",
    "omg": "oh my goodness",
    "yolo": "you only live once",
    "nbd": "no big deal",
    "fyi": "for your information",
    "btw": "by the way",
    "jk": "just kidding",
    "tbh": "to be honest",
    "ttys": "talk to you soon",
    "imo": "in my opinion",
    "yep": "yes",
    "lol": "laugh out loud",
    "gr8": "great",
    "bc": "because",
    "omg": "oh my gosh",
    "ttyl": "talk to you later",
    "np": "no problem",
    "idk": "I don't know",
    "thx": "thanks",
    "imo": "in my opinion",
    "rofl": "rolling on the floor laughing",
    "irl": "in real life",
    "jk": "just kidding",
    "btw": "by the way",
    "omw": "on my way",
    "smh": "shaking my head",
    "brb": "be right back",
    "bbs": "be back soon",
    "l8r": "later",
    "gtg": "got to go",
    "ttyl": "talk to you later",
    "hbu": "how about you",
    "wb": "welcome back",
    "lmao": "laughing my ass off",
    "ttylxox": "talk to you later, hugs and kisses",
    "idc": "I don't care",
    "w8": "wait",
    "l8": "late",
    "gr8": "great",
    "omg": "oh my god",
    "brb": "be right back",
    "bfn": "bye for now",
    "btw": "by the way",
    "cu": "see you",
    "cya": "see you later",
    "fomo": "fear of missing out",
    "ftw": "for the win",
    "fyi": "for your information",
    "gtg": "got to go",
    "hmu": "hit me up",
    "idc": "I don't care",
    "idk": "I don't know",
    "imo": "in my opinion",
    "irl": "in real life",
    "jk": "just kidding",
    "kthxbye": "okay, thanks, bye",
    "lmao": "laughing my ass off",
    "lol": "laugh out loud",
    "lmk": "let me know",
    "nbd": "no big deal",
    "np": "no problem",
    "nsfw": "not safe for work",
    "omg": "oh my god",
    "omw": "on my way",
    "otp": "one true pairing",
    "ppl": "people",
    "rofl": "rolling on the floor laughing",
    "smh": "shaking my head",
    "srsly": "seriously",
    "tmi": "too much information",
    "ttyl": "talk to you later",
    "wb": "welcome back",
    "wtf": "what the fudge",
    "wyd": "what are you doing",
    "yolo": "you only live once",
    "yw": "you're welcome",
    "zzz": "sleeping or bored",
    # Add more chat words and their expansions as needed
}

In [30]:
def chat_word_treatment(text):
    words = text.split()
    treated_words = [chat_words.get(word.lower(), word) for word in words]
    clean_text = " ".join(treated_words)
    
    return clean_text

In [31]:
print(chat_word_treatment('okk bfn'))
print(chat_word_treatment('Hay yw'))
print(chat_word_treatment('hello guys wyd'))
print(chat_word_treatment('i am ttyl'))
print(chat_word_treatment('what srsly'))
print(chat_word_treatment('Please Excuse me lmk things things'))

okk bye for now
Hay you're welcome
hello guys what are you doing
i am talk to you later
what seriously
Please Excuse me let me know things things

# SpellChecking

In [32]:
from textblob import TextBlob

In [33]:
incorrect_text_1 = 'Thier is a beutiful sunet at the beech'
incorrect_text_2 ='I cant belive he wnt to the resturant by himself.'
incorrect_text_3 ='She alwayes maks delisious choclate chip cookies.'
incorrect_text_4 ='Tomorow we will go to the musuem to see the exibit.'
incorrect_text_5 ='My freind has a bueatiful gardin in her back yard.'

In [34]:
correct_text_1 = TextBlob(incorrect_text_1)
correct_text_2 = TextBlob(incorrect_text_2)
correct_text_3 = TextBlob(incorrect_text_3)
correct_text_4 = TextBlob(incorrect_text_4)
correct_text_5 = TextBlob(incorrect_text_5)
print(correct_text_1.correct().string)
print(correct_text_2.correct().string)
print(correct_text_3.correct().string)
print(correct_text_4.correct().string)
print(correct_text_5.correct().string)

Her is a beautiful sunset at the beech
I can believe he went to the restaurant by himself.
The always make delirious chocolate chip colonies.
Tomorrow we will go to the museum to see the exhibit.
By friend has a beautiful garden in her back yard.

# Stopwords Removing

In [35]:
from nltk.corpus import stopwords

In [36]:
stopwords.words('English')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [37]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return " ".join(filtered_words)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user.LAPTOP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
movies_review['Review'].apply(remove_stopwords)

0       i've come watching endgame must say disappoint...
1       i've come watching endgame must say disappoint...
2       i've come watching endgame must say disappoint...
3       i've come watching endgame must say disappoint...
4       i've come watching endgame must say disappoint...
                              ...
9509    i've come watching endgame must say disappoint...
9510    i've come watching endgame must say disappoint...
9511    i've come watching endgame must say disappoint...
9512    i've come watching endgame must say disappoint...
9513    i've come watching endgame must say disappoint...
Name: Review, Length: 9514, dtype: object

In [39]:
movies_review

,Date of Review,User,Usefulness Vote,Total Votes,User's Rating out of 10,Review Title,Review
0,4 May 2019,paynebyname,1481,2771,4,"The writers got carried away, the directors ov...",i've just come from watching endgame and i mus...
1,6 May 2019,jtindahouse,75,127,4,Time travel is such a lazy way to write stories,i've just come from watching endgame and i mus...
2,13 May 2019,arclinecreative,100,170,3,Overrated and full of filler,i've just come from watching endgame and i mus...
3,3 August 2019,retrorick,99,169,3,"downbeat, overblown & so so long. Cuts all you...",i've just come from watching endgame and i mus...
4,13 December 2021,acollegestudent,27,41,8,Not as good as infinity war but a great movie,i've just come from watching endgame and i mus...
...,...,...,...,...,...,...,...
9509,1 June 2019,ismael_rivera,0,2,9,A reward to fans that have been since the begi...,i've just come from watching endgame and i mus...
9510,27 April 2019,barbarasokoloski,0,0,8,Fun and well-done,i've just come from watching endgame and i mus...
9511,25 April 2019,jfelipepoll,0,2,10,Just Wao!!,i've just come from watching endgame and i mus...
9512,25 April 2019,louikelemen,0,0,10,Endgame is for the Fans,i've just come from watching endgame and i mus...
9513,26 April 2019,kayodeodusanya,0,2,9,BADASS!!!,i've just come from watching endgame and i mus...

# Remove and Delete Emoji in Text

In [40]:
import re

def remove_emojis(text):
    emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags=re.UNICODE)
    clean_text = emoji_pattern.sub(r'', text)
    return clean_text

In [41]:
print(remove_emojis("Just finished my final exams! 📚🎉 Now it's time to relax and enjoy the summer ☀️🏖️"))
print(remove_emojis('Pizza for dinner tonight 🍕😋'))
print(remove_emojis('Happy birthday! 🎂🎉'))

Just finished my final exams!  Now it's time to relax and enjoy the summer ☀️️
Pizza for dinner tonight
Happy birthday!

## Delete Emoji

In [42]:
import emoji

In [43]:
print(emoji.demojize("1. Can't wait to see my family for the holidays! 🎄🎁😊"))

print(emoji.demojize("2. 🍕🍔 Dinner time! Time to indulge in some delicious food! 🍟🍦"))
print(emoji.demojize("3. Feeling so proud of my little sister for graduating today! 🎓🎉 She's going to do amazing things! 💪👩‍🎓"))
print(emoji.demojize("4.Just finished my final exams! 📚🎉 Now it's time to relax and enjoy the summer ☀️🏖️"))

1. Can't wait to see my family for the holidays! :Christmas_tree::wrapped_gift::smiling_face_with_smiling_eyes:
2. :pizza::hamburger: Dinner time! Time to indulge in some delicious food! :french_fries::soft_ice_cream:
3. Feeling so proud of my little sister for graduating today! :graduation_cap::party_popper: She's going to do amazing things! :flexed_biceps::woman_student:
4.Just finished my final exams! :books::party_popper: Now it's time to relax and enjoy the summer :sun::beach_with_umbrella:

# Tokinization

## Tokinization with split Function

In [44]:
words = "Python is a versatile and widely-used programming language known for its simplicity and readability, making it an excellent choice for beginners and experienced developers alike."

In [45]:
words.split()

['Python',
 'is',
 'a',
 'versatile',
 'and',
 'widely-used',
 'programming',
 'language',
 'known',
 'for',
 'its',
 'simplicity',
 'and',
 'readability,',
 'making',
 'it',
 'an',
 'excellent',
 'choice',
 'for',
 'beginners',
 'and',
 'experienced',
 'developers',
 'alike.']

In [46]:
sentences = "ChatGPT is an AI-powered language model developed by OpenAI.It is based on the GPT-3.5 architecture and trained on a vast amount of text data.ChatGPT is designed to understand and generate human-like text responses.Users can interact with ChatGPT through a conversational interface, making it easy to engage in natural language conversations.ChatGPT has a wide range of applications, including chatbots, virtual assistants, and interactive content generation."

In [47]:
sentences.split('.')

['ChatGPT is an AI-powered language model developed by OpenAI',
 'It is based on the GPT-3',
 '5 architecture and trained on a vast amount of text data',
 'ChatGPT is designed to understand and generate human-like text responses',
 'Users can interact with ChatGPT through a conversational interface, making it easy to engage in natural language conversations',
 'ChatGPT has a wide range of applications, including chatbots, virtual assistants, and interactive content generation',
 '']

# Tokinization with NLTK Library

In [48]:
from nltk.tokenize import word_tokenize,sent_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user.LAPTOP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [49]:
sent_1 ='I am going to Kolkata'
word_tokenize(sent_1)

['I', 'am', 'going', 'to', 'Kolkata']

In [54]:
sent_2 = '''I'm happy.
She exercises every morning.
His dog barks loudly.
My school starts at 8:00.
We always eat dinner together.
They take the bus to work.
He doesn't like vegetables.
I don't want anything to drink.'''

In [55]:
sent_tokenize(sent_2)

["I'm happy.",
 'She exercises every morning.',
 'His dog barks loudly.',
 'My school starts at 8:00.',
 'We always eat dinner together.',
 'They take the bus to work.',
 "He doesn't like vegetables.",
 "I don't want anything to drink."]

# Steamming

In [56]:
from nltk.stem.porter import PorterStemmer

In [58]:
ps = PorterStemmer()

def word_stem(text):
    return ' '.join([ps.stem(word) for word in text.split()])

In [60]:
wordtostem = 'talk talking talked'

In [61]:
word_stem(wordtostem)

'talk talk talk'

In [62]:
sent_to_stem = '''This might be the most difficult decision she would ever make.
It must be difficult for Alex to keep you happy. 
Then why was it so difficult to forgive him? ...
I can only imagine how difficult this is for you. 
I sensed it was a difficult one on his part.'''

In [63]:
word_stem(sent_to_stem)  # Here is fail to stem

'thi might be the most difficult decis she would ever make. it must be difficult for alex to keep you happy. then whi wa it so difficult to forgiv him? ... i can onli imagin how difficult thi is for you. i sens it wa a difficult one on hi part.'