# Bag of Words

In [27]:
import numpy as np
import pandas as pd

In [20]:
data = pd.DataFrame({'Text':['people watch campusx','campusx watch campusx','people write comments','campusx write comments'], 'Sentiment':[1,0,1,0]})

In [21]:
data.head()

                     Text  Sentiment
0    people watch campusx          1
1   campusx watch campusx          0
2   people write comments          1
3  campusx write comments          0

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

In [40]:
vect = CountVectorizer()

In [41]:
fit_vect = vect.fit_transform(data['Text'])

In [43]:
vect.get_feature_names_out()

array(['campusx', 'comments', 'people', 'watch', 'write'], dtype=object)

In [45]:
print(fit_vect.toarray())

[[1 0 1 1 0]
 [2 0 0 1 0]
 [0 1 1 0 1]
 [1 1 0 0 1]]

In [47]:
vect.transform(['campusx is campusx only eduction people go and learn watch it']).toarray()

array([[2, 0, 1, 1, 0]], dtype=int64)

# N-grams, Bi-grams and Uni-grams

In [60]:
n_vect = CountVectorizer(ngram_range=(2,3))

In [61]:
fit_vect = n_vect.fit_transform(data['Text'])

In [62]:
n_vect.get_feature_names_out()

array(['campusx watch', 'campusx watch campusx', 'campusx write',
       'campusx write comments', 'people watch', 'people watch campusx',
       'people write', 'people write comments', 'watch campusx',
       'write comments'], dtype=object)

In [59]:
data

                     Text  Sentiment
0    people watch campusx          1
1   campusx watch campusx          0
2   people write comments          1
3  campusx write comments          0

# TfidfVectorizer

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [64]:
tfidf = TfidfVectorizer()

In [68]:
tfidf.fit_transform(data['Text']).toarray()

array([[0.49681612, 0.        , 0.61366674, 0.61366674, 0.        ],
       [0.8508161 , 0.        , 0.        , 0.52546357, 0.        ],
       [0.        , 0.57735027, 0.57735027, 0.        , 0.57735027],
       [0.49681612, 0.61366674, 0.        , 0.        , 0.61366674]])

In [69]:
tfidf.get_feature_names_out()

array(['campusx', 'comments', 'people', 'watch', 'write'], dtype=object)